<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.rpgapi.meta.account.dao.AccountMapper">

    <!--配置withdraw_ledger表和WithdrawLedger对象的字段映射 -->
    <resultMap id="jobCompleteMap" type="com.gogoyang.rpgapi.meta.account.entity.WithdrawLedger">
        <result property="withdrawLedgerId" column="withdraw_ledger_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="readTime" column="read_time"/>
        <result property="processTime" column="process_time"/>
        <result property="processRemark" column="process_remark"/>
        <result property="processReadTime" column="process_read_time"/>
    </resultMap>

    <!--创建一个取现日志-->
    <insert id="createWithdrawLedger" parameterType="com.gogoyang.rpgapi.meta.account.entity.WithdrawLedger"
            useGeneratedKeys="true"
            keyProperty="ids">
        insert into withdraw_ledger
        (withdraw_ledger_id, user_id, create_time, amount, reamrk, status)
        values
        (#{withdrawLedgerId}, #{userId}, #{createTime}, #{amount}, #{remark}, #{status})
    </insert>

</mapper>