<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.rpgapi.meta.complete.dao.JobCompleteDao">

    <resultMap id="jobCompleteMap" type="com.gogoyang.rpgapi.meta.complete.entity.JobComplete">
        <result property="jobId" column="job_id"/>
        <result property="createdUserId" column="created_user_id"/>
        <result property="createdUserName" column="created_user_name"/>
        <result property="createdTime" column="created_time"/>
        <result property="readTime" column="read_time"/>
        <result property="processUserId" column="process_user_id"/>
        <result property="processUserName" column="process_user_name"/>
        <result property="processReadTime" column="process_read_time"/>
        <result property="processRemark" column="process_remark"/>
        <result property="completeId" column="complete_id"/>
        <result property="processTime" column="process_time"/>
    </resultMap>

    <select id="createJobComplete" parameterType="com.gogoyang.rpgapi.meta.complete.entity.JobComplete">
        insert into job_complete
        (complete_id, job_id, created_user_id, created_time, content,
        status, process_user_id, read_time, process_time,
        process_remark)
        values
        (#{completeId}, #{jobId}, #{createdUserId}, #{createdTime}, #{content},
        #{status}, #{processUserId}, #{readTime}, #{processTime},
        #{processRemark})
    </select>

    <select id="getJobComplete" parameterType="map" resultMap="jobCompleteMap">
        select * from job_complete
        where complete_id=#{completeId}
    </select>

    <select id="listJobComplete" parameterType="map" resultMap="jobCompleteMap">
        select job_complete.ids,
        complete_id,
        job_id,
        created_user_id,
        create_user.real_name as created_user_name,
        created_time,
        content,
        read_time,
        status,
        process_time,
        process_remark,
        process_user_id,
        process_user.real_name as process_user_name,
        process_read_time
        from job_complete
        left join user_info create_user on created_user_id=user_id
        left join user_info process_user on process_user_id=process_user.user_id
        where 1=1
        <choose>
            <when test="jobId!=null">
                and job_id=#{jobId}
            </when>
        </choose>
        <choose>
            <when test="status!=null">
                and status=#{status}
            </when>
        </choose>
        <choose>
            <when test="createUserUnread!=null">
                and process_read_time is null
                and created_user_id=#{createdUserId}
            </when>
        </choose>
        <choose>
            <when test="processUserUnread!=null">
                and read_time is null
                and process_user_id=#{processUserId}
            </when>
        </choose>
        <choose>
            <when test="offset!=null">
                limit #{offset}, #{size}
            </when>
        </choose>
    </select>

    <!--统计所有未阅读的任务完成日志-->
    <select id="totalUnreadComplete" parameterType="map"
            resultType="java.lang.Integer">
        select count(*) as total_unread_complete
        from job_complete
        where 1 = 1
        and (
        (
        read_time is null
        <![CDATA[
        and created_user_id <> #{userId}
        ]]>
        )
        or (
        process_read_time is null
        and created_user_id = #{userId}
        )
        )
        <choose>
            <when test="jobId!=null">
                and job_id = #{jobId}
            </when>
        </choose>
    </select>

    <update id="updateJobComplete" parameterType="com.gogoyang.rpgapi.meta.complete.entity.JobComplete">
        update job_complete
        <set>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="processTime!=null">
                process_time=#{processTime},
            </if>
            <if test="processRemark!=null">
                process_remark=#{processRemark}
            </if>
        </set>
        where complete_id=#{completeId}
    </update>

    <!--把所有未阅读的验收日志设置为当前阅读时间-->
    <update id="setJobCompleteReadTime" parameterType="map">
        update job_complete set
        read_time=#{readTime}
        where 1 = 1
        and read_time is null
        <![CDATA[
        and created_user_id <> #{userId}
        ]]>
        and job_id = #{jobId}
    </update>

    <!--设置处理结果的阅读时间-->
    <update id="setJobCompleteProcessReadTime" parameterType="map">
        update job_complete set
        process_read_time=#{processReadTime}
        where 1=1
        and process_read_time is null
        and created_user_id=#{userId}
        and process_time is not null
        and job_id=#{jobId}
    </update>

    <!--统计任务的完成验收日志数量-->
    <select id="totalJobComplete" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total from job_complete
        where job_id=#{jobId}
    </select>

</mapper>