<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.rpgapi.meta.complete.dao.JobCompleteMapper">

    <!--配置job_log表和JobLog对象的字段映射 -->
    <resultMap id="jobCompleteMap" type="com.gogoyang.rpgapi.meta.complete.entity.JobComplete">
        <result property="jobLogId" column="job_log_id"/>
        <result property="jobId" column="job_id"/>
        <result property="createdUserId" column="created_user_id"/>
        <result property="createdUserName" column="real_name"/>
        <result property="createdTime" column="created_time"/>
        <result property="readTime" column="read_time"/>
    </resultMap>

    <!--统计所有未阅读的任务完成日志-->
    <select id="totalUnreadComplete" parameterType="map"
            resultType="java.lang.Integer">
        select count(*) as total_unread_complete
        from job_complete
        where 1 = 1
        and (
        (
        read_time is null
        <![CDATA[
        and created_user_id <> #{userId}
        ]]>
        )
        or (
        process_read_time is null
        and created_user_id = #{userId}
        )
        )
        <choose>
            <when test="jobId!=null">
                and job_id = #{jobId}
            </when>
        </choose>
    </select>

    <!--把所有未阅读的验收日志设置为当前阅读时间-->
    <update id="setJobCompleteReadTime" parameterType="map">
        update job_complete set
        read_time=#{readTime}
        where 1 = 1
        and read_time is null
        <![CDATA[
        and created_user_id <> #{userId}
        ]]>
        <choose>
            <when test="jobId!=null">
                and job_id = #{jobId}
            </when>
        </choose>
    </update>

    <!--设置处理结果的阅读时间-->
    <update id="setJobCompleteProcessReadTime" parameterType="map">
        update job_complete set
        process_read_time=#{processReadTime}
        where 1=1
        and process_read_time is null
        and created_user_id=#{userId}
        <choose>
            <when test="jobId!=null">
                and job_id=#{jobId}
            </when>
        </choose>
    </update>

</mapper>