<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.rpgapi.meta.task.dao.TaskDao">

    <resultMap id="taskMap" type="com.gogoyang.rpgapi.meta.task.entity.Task">
        <result property="taskId" column="task_id"/>
        <result property="createdUserId" column="created_user_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="createdUserName" column="created_user_name"/>
        <result property="jobId" column="job_id"/>
        <result property="jobTitle" column="job_title"/>
        <result property="partyBId" column="partyb_id"/>
        <result property="partyBName" column="partyb_name"/>
    </resultMap>

    <!--创建一个私人任务-->
    <insert id="createTask" parameterType="com.gogoyang.rpgapi.meta.task.entity.Task"
            useGeneratedKeys="true"
            keyProperty="ids">
        insert into task
        (task_id, title, days, price, created_user_id,
        created_time, pid, code)
        values
        (#{taskId}, #{title}, #{days}, #{price}, #{createdUserId},
         #{createdTime}, #{pid}, #{code})
    </insert>

    <insert id="createTaskDetail" parameterType="com.gogoyang.rpgapi.meta.task.entity.Task">
        insert  into task_detail
        (task_id, detail)
        values
        (#{taskId}, #{detail})
    </insert>

    <!--读取一个任务详情-->
    <select id="getTaskDetail" parameterType="java.lang.String" resultMap="taskMap">
        select task.ids,
           task.task_id,
           title,
           days,
           price,
           created_user_id,
           real_name as created_user_name,
           created_time,
           pid,
           code,
           detail
           from task
        left join user_info create_user on created_user_id=user_id
        left join task_detail on task.task_id=task_detail.task_id
        where task.task_id=#{taskId}
    </select>

    <!--读取一个任务的简要信息-->
    <select id="getTaskTiny" parameterType="java.lang.String" resultMap="taskMap">
        select * from task
        where task_id=#{taskId}
    </select>

    <!--批量读取任务-->
    <select id="listTask" parameterType="map" resultMap="taskMap">
        select task.ids,
        task.task_id,
        task.title,
        task.days,
        task.price,
        created_user_id,
        create_user.real_name as created_user_name,
        task.created_time,
        pid,
        task.code,
        job_id,
        job.title             as job_title,
        job.partyb_id,
        partyb.real_name as partyb_name
        from task
        left join user_info create_user on created_user_id = user_id
        left join job on job.task_id = task.task_id
        left join user_info partyb on partyb_id = partyb.user_id
        where 1 = 1
        <choose>
            <when test="titleKey!=null">
                and task.title like '%'+#{titleKey}+'%'
            </when>
        </choose>
        <choose>
            <when test="pid!=null">
                and pid=#{pid}
            </when>
            <otherwise>
                and pid is null
            </otherwise>
        </choose>
        <choose>
            <when test="createdUserId!=null">
                and created_user_id=#{createdUserId}
            </when>
        </choose>
        order by ids desc
        <choose>
            <when test="offset!=null">
                limit #{offset},#{size}
            </when>
        </choose>
    </select>

    <!--根据taskId修改task-->
    <update id="updateTaskTiny" parameterType="com.gogoyang.rpgapi.meta.task.entity.Task">
        update task
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="days!=null">
                days=#{days},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="code!=null">
                code=#{code}
            </if>
        </set>
        where task_id=#{taskId}
    </update>

    <!--修改一个任务的详情-->
    <update id="updateTaskDetail" parameterType="com.gogoyang.rpgapi.meta.task.entity.Task">
        update task_detail set
        detail=#{detail}
        where task_id=#{taskId}
    </update>

    <delete id="deleteTaskTiny" parameterType="java.lang.String">
        delete from task
        where task_id=#{taskId}
    </delete>

    <delete id="deleteTaskDetail" parameterType="java.lang.String">
        delete from task_detail
        where task_id=#{taskId}
    </delete>

    <!--统计任务数量-->
    <select id="totalTask" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total
        from task
        left join user_info create_user on created_user_id = user_id
        left join job on job.task_id = task.task_id
        left join user_info partyb on partyb_id = partyb.user_id
        where 1 = 1
        <choose>
            <when test="titleKey!=null">
                and task.title like '%'+#{titleKey}+'%'
            </when>
        </choose>
        <choose>
            <when test="pid!=null">
                and pid=#{pid}
            </when>
            <otherwise>
                and pid is null
            </otherwise>
        </choose>
        <choose>
            <when test="createdUserId!=null">
                and created_user_id=#{createdUserId}
            </when>
        </choose>
    </select>

</mapper>