<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.rpgapi.meta.team.dao.TeamDao">

    <resultMap id="teamMap" type="com.gogoyang.rpgapi.meta.team.entity.Team">
        <result property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="managerId" column="manager_id"/>
        <result property="skillTreeId" column="skill_tree_id"/>
    </resultMap>

    <!--创建一个团队-->
    <select id="createTeam" parameterType="com.gogoyang.rpgapi.meta.team.entity.Team">
        insert into team
        (team_id, team_name, description,
         city, create_user_id,
         create_time, status,
          manager_id, skill_tree_id)
        values
        (#{teamId}, #{teamName}, #{description},
         #{city}, #{createUserId},
         #{createTime}, #{status},
         #{managerId}, #{skillTreeId})
    </select>

    <!--查询团队列表-->
    <select id="listTeam" parameterType="map" resultMap="teamMap">
        select * from team
        where manager_id=#{userId}
    </select>

    <select id="getTeamDetail" parameterType="java.lang.String" resultMap="teamMap">
        select * from team
        where team_id=#{teamId}
    </select>
</mapper>