<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.rpgapi.meta.userAction.dao.UserActionLogDao">

    <!--配置user_action_log表和UserActionLog对象的字段映射 -->
    <resultMap id="userActionLogMap" type="com.gogoyang.rpgapi.meta.userAction.entity.UserActionLog">
        <result property="userActionLogId" column="log_id"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="actType" column="act_type"/>
    </resultMap>

    <!--创建一个用户行为日志-->
    <insert id="createUserActionLog"
            useGeneratedKeys="true"
            keyProperty="ids"
            parameterType="com.gogoyang.rpgapi.meta.userAction.entity.UserActionLog">
        insert into user_action_log
        (create_time, user_id, act_type, memo, result)
        values
        (#{createTime}, #{userId}, #{actType}, #{memo}, #{result})
    </insert>

    <!--查询用户行为记录-->
    <select id="listUserActionLog" parameterType="map"
            resultMap="userActionLogMap">
        select * from user_action_log
        order by ids desc
        limit #{offset}, #{size}
    </select>

    <!--统计用户行为记录总数-->
    <select id="totalUserActionLog" resultType="java.lang.Integer">
        select count(*) as total from user_action_log
    </select>
</mapper>